style.
  .landing-page-body {
    display: table !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100vh !important;
  }

  .landing-page-container {
    background-color: transparent !important;
    text-align: center !important;
    margin: auto !important;
    box-sizing: border-box !important;
    overflow: auto !important;
    display: table-cell !important;
    vertical-align: middle !important;
  }

  .landing-page-inner-container {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 450px !important;
    max-width: 450px !important;
    padding: 50px !important;
  }

  .landing-page-image-container {
    padding: 10px 0 !important;
  }

  .landing-page-title {
    margin: 0 !important;
    padding: 12px 0 !important;
  }
  
  .landing-page-text-left {
    text-align: left !important;
  }
