script.
  let landingPage = !{JSON.stringify(landingPage)}
  window.fbAsyncInit = function() {
  FB.init({
  appId            : landingPage.facebookClientId,
  autoLogAppEvents : true,
  xfbml            : true,
  version          : 'v3.2'
  });
  FB.Event.subscribe('send_to_messenger', function(response) {
  if ( response.event == 'clicked' ) {
  if (landingPage.submittedState.actionType === 'REDIRECT_TO_URL') {
     if (landingPage.submittedState.tab === 'NEW_TAB') window.open(landingPage.submittedState.url, '_blank')
     else window.location.replace(landingPage.submittedState.url)
  } else {
    landingPage.currentState = 'submitted';
    let serverRequest = new XMLHttpRequest();
    serverRequest.open("POST", `/landingPage/${landingPage._id}`, true);
    //- window.open(`https://m.me/${landingPage.pageId.pageId}`, '_blank')
    serverRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    serverRequest.onreadystatechange = function () {
    if(this.readyState === 4 && this.status === 200) {
      document.open();
      document.write(this.responseText);
      document.close();
    }
    };
    serverRequest.send(JSON.stringify(landingPage));
  };
  };
  });
  };
  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
