script.
  let landingPage = !{JSON.stringify(landingPage)}
  window.fbAsyncInit = function() {
  FB.init({
  appId            : landingPage.facebookClientId,
  autoLogAppEvents : true,
  xfbml            : true,
  version          : 'v3.2'
  });
  FB.Event.subscribe('send_to_messenger', function(response) {
  if ( response.event == 'clicked' ) {
  landingPage.currentState = 'submitted';
  let serverRequest = new XMLHttpRequest();
  serverRequest.open("POST", `/landingPage/${landingPage._id}`, true);
  serverRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  serverRequest.onreadystatechange = function () {
  if(this.readyState === 4 && this.status === 200) {
    document.innerHTML = this.responseText;
  }
};
  serverRequest.send(JSON.stringify(landingPage));
  };
  });
  };
  (function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
